@font-face {
    font-family: "Mulish";
    src: url(.//fonts/Mulish-Regular.ttf),
        url(.//fonts/Mulish-Bold.ttf),
        url(.//fonts/Mulish-Black.ttf),
        url(.//fonts/Mulish-ExtraBold.ttf);
}

* {
    font-family: "Mulish";
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    width: 1200px;
    margin: 0% auto;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 37px 0;
    align-items: center;
}

header nav {
    display: flex;

}

.img {
    background-image: url(./img/Course\ topics.svg);
    width: 134px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav p {
    font: 700 16px 'Mulish';
    color: #001A49;
}

header nav p:not(:last-child) {
    margin-right: 25px;
}

.btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 147px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
}

.introductory {
    display: flex;
    margin-top: 187px;
    justify-content: space-between;
}


.wraper {
    width: 537px;
}

.introductory h1 {
    font: 800 60px 'Mulish';
    color: #001A49;
    margin-bottom: 20px;
}

.introductory p {
    font: 400 20px 'Mulish';
    color: #4F596A;
    margin-bottom: 35px;
}

.introductory .button {
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    width: 206px;
    background: linear-gradient(44.11deg, #8FBBE6 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    text-align: center;
    padding: 20px 0;
}

.video {
    background-image: url(./img/Group\ 7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 590px;
    height: 360px;
    position: relative;
    left: 250px;
}

.statistic {
    margin-top: 200px;
}

.info {
    background: #FFFFFF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}

.info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.info div h2 {
    font: 800 20px 'Mulish';
    color: #001A49;
}

.info div p {
    font-weight: 400 20px 'Mulish';
    color: #4F596A;
}

.info div:not(:last-child) {
    border-right: 1px solid #E7EAEB;
}

.oval {
    background-image: url(./img/Side\ Shape\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 288px;
    height: 288px;
    position: absolute;
    left: 250px;
    z-index: 0;
}

.advantages {
    margin-top: 194px;
}

.advantages .enumiration h2 {
    font: 800 46px 'Mulish';
    color: #001A49;
    width: 637px;
    height: 69px;
    margin: 0 389px 0 414px;
    
}

.advantages .enumiration p {
    margin: 1px 0 0 415px;
    margin-bottom: 61px;
    text-align: center;
    font: 400 20px 'Mulish';
    color: #4F596A;
    width: 560px;
    height: 60px;
}

.scroll {
    display: flex;
    background: #EEF7FF;
    border-radius: 21px;
    width: 1120px;
    height: 172px;
    align-items: center;

}

.advantages .scroll:not(:first-child) {
    margin-top: 30px;
}

.icon {
    background-image: url(./img/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 64px;
    margin: 39px 0 0 46px;
}

.scroll h3 {
    font: 800 24px 'Mulish';
    color: #001A49;
    margin: 39px 0 0 20px;
}

.scroll p {
    font: 400 16px 'Mulish';
    color: #4F596A;
    margin: 20px 0 0 20px;
    width: 960px;
}

.entry{
    margin-top: 122px;
}

.symbol{
    background-image: url(./img/Text.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 80px;
    margin: 0 510px  ;
}

.entry div h4{
    text-align: center;
    font: 800 50px 'Mulish';
    color: #001A49;
    margin-top: 30px;
}

.entry div p{
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    width: 206px;
    height: 30px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    margin-top: 30px;
}

footer {
    margin-top: 129px;
}

.entr {
    background-image: url(./img/Text.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 56px;
}

footer div {
    display: flex;
    justify-content: space-between;
}

.hschool {
    font: 800 37px 'Mulish';
    color: #001A49;
    display: flex;
    align-items: center;
}

.ps {
    font: 500 28px 'Mulish';
    color: #707070;
    width: 232px;
    height: 32px;
    margin: 40px 152px;
}

.email {
    font: 500 27px 'Mulish';
    color: #707070;
    margin-bottom: 85px;
}